In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [87]:
# total sum of Animal Fat produced in 2014 and 2017
item_group = df.groupby('Item').sum()
item_2014_and_2017 = item_group[['Y2014', 'Y2017']]
item_2014_and_2017.loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [75]:
# mean and standard deviation across the dataset for year 2015
df['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [33]:
# total number of missing data in 2016
missing_data_2016 = df['Y2016'].isnull().sum()
print(missing_data_2016)
Percentage_missing_data_2016 = missing_data_2016 / len(df['Y2016'])
print((Percentage_missing_data_2016 * 100).round(2))

1535
2.52

In [130]:
# highest correlation with Element Code
df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corrwith(df['Element Code'])
# Year 2014 has the highest correlation with Element Code

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
dtype: float64

In [133]:
# year with highest sum of Import Quantity
element_group = df.groupby('Element').sum()
element_by_year = element_group[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
element_by_year.loc['Import Quantity']
# year 2017 has the highest import quantity

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [91]:
# total number of the sum of Production in 2014
production_2014 = element_group['Y2014'].loc['Production']
production_2014

1931287.75

In [103]:
# highest sum in 2018
df_2018_and_element = df[['Y2018', 'Element']].groupby('Element').sum()
df_2018_and_element.sort_values('Y2018', ascending=False)
# Domestic supply quantity has the highest sum in 2018
# Protein supply quantity (g/capita/day) has the 3rd lowest sum in 2018

                                             Y2018
Element
Domestic supply quantity                2161192.10
Production                              2075072.89
Food                                    1303841.28
Total Population - Both sexes           1140605.00
Food supply (kcal/capita/day)            455261.00
Processing                               308429.00
Import Quantity                          287997.09
Feed                                     233489.68
Export Quantity                          181594.80
Losses                                   163902.00
Other uses (non-food)                     91300.97
Food supply quantity (kg/capita/yr)       49056.85
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00

In [123]:
# total Import Quantity in Algeria in 2018
element_by_area = df[['Area', 'Y2018', 'Element']].groupby(['Element', 'Area']).sum()
element_by_area.loc['Import Quantity']
# total import in Algeria in 2018 is 36238.29

                                Y2018
Area
Algeria                      36238.29
Angola                        7769.67
Benin                         7008.24
Botswana                      1908.42
Burkina Faso                  2605.64
Cabo Verde                     499.66
Cameroon                      4188.88
Central African Republic        75.02
Chad                           491.95
Comoros                          2.92
Congo                         1785.27
Côte d'Ivoire                 9271.21
Djibouti                      3784.92
Egypt                        53954.20
Eswatini                       936.53
Ethiopia                      5655.24
Ethiopia PDR                     0.00
Gabon                         1079.75
Gambia                        1212.10
Ghana                         9914.68
Guinea                        4707.95
Guinea-Bissau                  497.72
Kenya                        11188.96
Lesotho                       1016.97
Liberia                       1203.77
Madagascar                    3214.79
Malawi                         520.20
Mali                          1962.06
Mauritania                    3575.74
Mauritius                     1672.39
Morocco                      19448.50
Mozambique                    5552.03
Namibia                       1462.04
Niger                         2390.20
Nigeria                      21923.38
Rwanda                        1734.44
Sao Tome and Principe           84.10
Senegal                       8005.24
Seychelles                      77.71
Sierra Leone                  1659.22
South Africa                 16192.45
Sudan                         9130.11
Sudan (former)                   0.00
Togo                          3625.48
Tunisia                      11030.91
Uganda                        3209.87
United Republic of Tanzania   1863.68
Zambia                         990.75
Zimbabwe                      1673.84

In [127]:
# total number of unique countries in the dataset
df_countries = df['Area'].unique()
len(df_countries)
# total number of unique countries is 49

49